*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;    
}

body{
    background-color: rgb(30, 30, 30);
}
.card{
    padding: 40px 35px;
    background: linear-gradient(150deg, rgb(0 254 241), rgb(51 39 131));
    margin: 90px auto 0;
    color: white;
    max-width: 470px;
    width: 90%;
    border-radius: 18px;
    text-align: center;
}
.search{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.search input{
    font-size: 17px;
    border-radius: 30px;
    height: 55px;
    padding: 10px 25px;
    color: rgb(80 80 80);
    border: 0;
    outline: 0;
    background-color: rgb(235 250 255);
    flex: 1;
    margin-right: 15px;
}

.search button{
    color: rgb(80 80 80);
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.search button img{
    width: 17%;
}

.weather-icon{
    width: 160px;
    margin-top: 25px;
}

.weather h1{
    font-size: 75px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: -7px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}
@media screen and (max-width: 500px) {
  .card {
    margin: 25px auto 0;
    width: 90%;
  }
  .search {
    width: 100%;
  }
  .search input{
    padding: 5px 8px;
  }
}

